body {
  min-height: 100vh;
  max-width: 100%;

  background: linear-gradient(to bottom, #02c4fa, #045deb);
  padding: 3rem;
}

.header-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.95rem;
  font-weight: 600;
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

input {
  background-color: unset;
  border: solid 1px white;
  color: white;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 10000px;
  flex-grow: 1;

  outline: unset;
}

button {
  width: fit-content !important;
  padding: 1rem 2.5rem !important;
  font-size: 1.05rem !important;
}

button i {
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  form {
    margin-top: 1rem;
    flex-direction: column;
  }

  button {
    width: unset !important;
  }
}
